Whenever your dataset has strings instead of numericals, we call it as **'categorical'** data
A machine learning model can only accept **numeric** data, which is why we have to convert our categorical data to numerical data

In [1]:
import numpy as np  #import the necessary functions
import pandas as pd

dataset = pd.read_csv('/content/measurements.csv') #read your dataset 
dataset.head  #display first 5 and last 5 values of your dataset

<bound method NDFrame.head of      distance  consume  speed  temp_inside  temp_outside gas_type
0        28.0      5.0     26         21.5            12      E10
1        12.0      4.2     30         21.5            13      E10
2        11.2      5.5     38         21.5            15      E10
3        12.9      3.9     36         21.5            14      E10
4        18.5      4.5     46         21.5            15      E10
..        ...      ...    ...          ...           ...      ...
383      16.0      3.7     39         24.5            18        x
384      16.1      4.3     38         25.0            31     SP98
385      16.0      3.8     45         25.0            19     SP98
386      15.4      4.6     42         25.0            31        x
387      14.7      5.0     25         25.0            30     SP98

[388 rows x 6 columns]>

In [2]:
gas = pd.get_dummies(dataset['gas_type'])   #convert the categorical values to numerical values '0' or '1'
data_new = pd.concat([dataset, gas], axis=1)  #join the above column with your origianl dataset
data_new  #display your new dataset

     distance  consume  speed  temp_inside  temp_outside gas_type  E10  SP98  x
0        28.0      5.0     26         21.5            12      E10    1     0  0
1        12.0      4.2     30         21.5            13      E10    1     0  0
2        11.2      5.5     38         21.5            15      E10    1     0  0
3        12.9      3.9     36         21.5            14      E10    1     0  0
4        18.5      4.5     46         21.5            15      E10    1     0  0
..        ...      ...    ...          ...           ...      ...  ...   ... ..
383      16.0      3.7     39         24.5            18        x    0     0  1
384      16.1      4.3     38         25.0            31     SP98    0     1  0
385      16.0      3.8     45         25.0            19     SP98    0     1  0
386      15.4      4.6     42         25.0            31        x    0     0  1
387      14.7      5.0     25         25.0            30     SP98    0     1  0

[388 rows x 9 columns]

In [3]:
data_new.corr()  #if you do not want to visualize your correlation matrix use this method

              distance   consume     speed  ...       E10      SP98         x
distance      1.000000 -0.128967  0.562299  ...  0.061096 -0.044577 -0.045266
consume      -0.128967  1.000000 -0.227866  ...  0.022947 -0.004273 -0.052640
speed         0.562299 -0.227866  1.000000  ...  0.107487 -0.106623  0.000949
temp_inside   0.075305 -0.161991  0.059725  ... -0.009988 -0.010573  0.057663
temp_outside  0.088175 -0.320811  0.015411  ... -0.141207  0.140604 -0.002770
E10           0.061096  0.022947  0.107487  ...  1.000000 -0.938156 -0.144927
SP98         -0.044577 -0.004273 -0.106623  ... -0.938156  1.000000 -0.206595
x            -0.045266 -0.052640  0.000949  ... -0.144927 -0.206595  1.000000

[8 rows x 8 columns]

In [5]:
data_new.describe()  #use this function to learn the statistics of your dataset

         distance     consume       speed  ...         E10        SP98           x
count  388.000000  388.000000  388.000000  ...  388.000000  388.000000  388.000000
mean    19.652835    4.912371   41.927835  ...    0.396907    0.572165    0.030928
std     22.667837    1.033172   13.598524  ...    0.489888    0.495404    0.173346
min      1.300000    3.300000   14.000000  ...    0.000000    0.000000    0.000000
25%     11.800000    4.300000   32.750000  ...    0.000000    0.000000    0.000000
50%     14.600000    4.700000   40.500000  ...    0.000000    1.000000    0.000000
75%     19.000000    5.300000   50.000000  ...    1.000000    1.000000    0.000000
max    216.100000   12.200000   90.000000  ...    1.000000    1.000000    1.000000

[8 rows x 8 columns]